<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beauty around the world</title>
    <link rel="stylesheet" href="../src/css/u-001.css">
</head>
<header>
    <div class="header-div">
        <h1 >Discover the beauty around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        <button>Explore </button>
    </div>
</header>
<body>
    <div class="imagenes">
        <div class="imagenes-1">
            <img src="../src/storage/img/page-1/1.png" alt="una imagen linda">
            <img src="../src/storage/img/page-1/1(1).png" alt="una imagen linda">
            <img src="../src/storage/img/page-1/2.png" alt="una imagen linda">
            <img src="../src/storage/img/page-1/2(1).png" alt="una imagen linda">
        </div>
        <div class="imagenes-2">
            <img src="../src/storage/img/page-1/3.png" alt="una imagen linda">
            <img src="../src/storage/img/page-1/3(1).png" alt="una imagen linda">
            <img src="../src/storage/img/page-1/4.png" alt="una imagen linda">
            <img src="../src/storage/img/page-1/4(1).png" alt="una imagen linda">
        </div>
        </div>
</body>
</html>