<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 14</title>
    <link rel="stylesheet" href="../src/css/u-014.css">
</head>
<body>
    <section class="main">
        <h1>Listen to yourself Follow your heart</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <button>Download The App</button>
    </section>
    <section class="image">

        <img class="imagen" src="../src/storage/img/page-14/Imagearea.png">

    </section>
    <section class="final">
        <img class="imagen1" src="../src/storage/img/page-14/1.png">
        <img class="imagen2" src="../src/storage/img/page-14/2.png">
        <img class="imagen3" src="../src/storage/img/page-14/3.png">

    </section>
</body>
</html>