@import url(variables.css);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header-div{
    /*background-color: aqua;*/
    display: grid;
    place-items: center;
}

h1{
    color:var(--color-2);
    font-family: "Avenir-Heavy";
    display:grid;
    text-align: center;
    height:145px;
    width:610px;
    font-size:64px;
    margin-bottom:60px;
    margin-top:50px;
    line-height:1.2;
}
p{
    opacity: 0.8;
    font-family:"Avenir-Roman";
    font-size:26;
    display:grid;
    text-align:center;
    width:607px;
    height:108px;
    padding:110px;
    margin-top:-160px;
    color:var(--color-2)
}
button{
    background-color:var(--color-2);
    color:var(--color-1);
    border-radius: 16px;
    width:158px;
    height: 54px;
    box-shadow: 0;
    border:none;
    margin-top:-30px;
}
.imagenes{
    width:100%;
    height:592PX;
    display:grid;
    place-items: center;
    margin-top:50px;
  /*  background-color: aquamarine;*/
}


