@import url(variables.css);

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

h1{
    font-size:72px;
    width:530px;


}

p{
    font-size:26px;
    color:Var(--color-2);
    opacity: 0.8;
    margin-top:30px;
    width:500px !important ;
    height:auto;
    position:relative;
    word-wrap: break-word;
}

.button1{
    background-color: var(--color-2);
    color: var(--color-4);
    border-radius: 36px;
    width:182px;
    height:66px;
    box-shadow: 0;
    border:none;
    margin-top:20px;
    font-size:24px;
}

.first{
    width:637px;
    height:414px;
    margin-left: 200px;
    margin-top: 100px;
}

.p1{
    width: 586px;
    height:108px ;

}

.second{
    position:absolute;
    margin-left:1100px;
    margin-top:-500px;
    /*background-color: antiquewhite;*/
    width: auto;
    height:auto;
}

.img-1{
    position:absolute;
    width:322px;
    height: 384px;
    z-index: 1;
}

.img-2{
    position: absolute;
    width:322px;
    height: 384px;
    margin-left:230px;
    margin-top:136px;
    z-index: 2;


}

.third{
    width:1320px;
    height: 298px;
    background: var(--color-2);
    border-radius: 40px;
    position:relative;
    margin-left: 200px;
    margin-top:70px;
}

.a1,
.a2,
.a3{
    position:absolute;
    width: 316px;
    height: 44px;
    opacity: 0.8;
    color:var(--color-4);
    font-size: 32px;
}


.a2{
    margin-left: 100px;
}

.a3{
    margin-left:900px;
    margin-top:-120px;
}
.cloud{
    position:absolute;
    width: 24px;
    height: 16px;

}


.b1{



}