@import url(variables.css);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    position: absolute;
    margin-top:16%;
    margin-left: 6%;    

}

h1{
    
    font-size: 64px;
    color:Var(--color-39);
    width: 568px;
    font-family: "Poppins-Bold";
}

p{
    width:480px;
    margin-top:30px;
    font-size:24px ;
    font-family: "Poppins-Light";
}

button{
    margin-top: 30px;
    background:var(--color-41) ;
    color: var(--color-39);
    border-radius: 36px;
    width: 265px ;
    height: 78px;
    font-size: 20px ;
    font-family: "Poppins-Regular";


}


.imagen{
    position: absolute;
    margin-left: 40%;
}


.final{
    position:absolute;
    background: var(--color-42);
    width:650px;
    height: 168px;
    border-radius: 24px;
    margin-top:48%;
    margin-left:5%;
}

.imagen1{
    width:110px;
    height:120px;
    margin-left:10%;
    margin-top:4%;
}

.imagen2{
    width:110px;
    height:120px;
    margin-left:7%

}

.imagen3{
    width:110px;
    height:120px;
    margin-left:17%;
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/font/Poppins/Poppins-Bold.ttf);
     }
@font-face {
    font-family: "Poppins-Light";
    src: url(../storage/font/Poppins/Poppins-Light.ttf);
}