@import url(variables.css);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    display: grid;
    align-items: center;
}
.first{
    
    padding-top: 50px;
    margin-top:20px;
    z-index: 0;
}

h1{
    font-size: 72px;
    width:420px ;
    height: 264px;
    margin-left:100px;
    margin-top:60px;

}
.p1{
    width:470px;
    height: 99px;
    margin-top: 20px ;
    font-size:24px;
    opacity:0.8;
    color:var(--color-2);
    margin-left: 100px;


}
.button1{
    background: var(--color-2);
    width:182px;
    height: 62px;
    box-shadow: 0;
    border:none;
    font-size: 24px;
    color:var(--color-4);
    border-radius: 36px;
    margin-left: 100px;
    margin-top: 15px;


}

.photo{
    display: grid;
    place-content: center;
    margin-top: -540px;
    margin-left: 150px;
    z-index: 1;
}
.dawn{
    position:absolute;
    margin-left:720px;
    margin-top:-600px;
    z-index: 3;


}
.dawn2{
    position:absolute;
    margin-left:1200px;
    margin-top:-400px;
    z-index: 3;
}
.shape-wave{
    position:absolute;
    margin-left:500px;
    margin-top:-800px;
    z-index: 3;
}
.spiral3{
    position:absolute;
    margin-left:120px;
    margin-top:-300px;
    z-index: 3;
}
.cara{
    position:absolute;
    margin-left:1000px;
    margin-top: -100px;
}
.parrafo{
    margin-left: 1100px;
    margin-top:-94px ;
    position: absolute;
    width: 480px;
    height: 90px;
    font-size:22px;


}